@colorCorporativo: #2c3e50;

.clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

html, body{
    margin: 0;
    height: 100%;
}

#sr-dashboard{
    height: 100%;

    overflow: hidden;

    #sr-menu{
        float: left;

        width: 300px;
        height: 100%;

        color: #FFF;
        background: @colorCorporativo;

        #srm-logo-wrapper{

            padding: 10px 30px 40px;
            box-sizing: border-box;

            #srm-logo{
                /* Temporal */

                width: 100%;
                height: 45px;

                background: lighten(@colorCorporativo, 10%);
            }
        }

        #srm-projects-list{

            height: ~"calc(100% - 95px)";

            #srm-title{
                display: block;
                padding: 0 30px;

                height: 40px;

                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                letter-spacing: 1px;

                color: lighten(@colorCorporativo, 20%);
            }

            #srm-projects{
                margin: 0;
                padding: 0;

                height: ~"calc(100% - 40px)";

                overflow-y: auto;

                list-style-type: none;

                li{
                    padding: 10px 30px;

                    font-family: 'Open Sans', sans-serif;
                    letter-spacing: 1px;

                    color: lighten(@colorCorporativo, 40%);

                    cursor: pointer;

                    &:hover, &:focus{
                        padding-left: 27px;

                        background: lighten(@colorCorporativo, 10%);

                        border-left: 3px solid darken(@colorCorporativo, 20%);
                    }
                }
            }
        }
    }

    #sr-content{
        float: left;
        width: ~"calc(100% - 300px)";
        height: 100%;

        #src-header{
            height: 64px;

            border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            #srch-menu-opener{

            }

            #srch-settings{

            }
        }

        #src-content{
            padding: 25px;
            box-sizing: border-box;

            height: ~"calc(100% - 65px)";

            background: #EEE;

            #src-users-list{
                width: 100%;
                height: 100%;

                background: #FFF;

                border: 1px solid rgba(0, 0, 0, 0.3);

                overflow-x: hidden;

                #src-table-header{
                    padding-right: 20px;
                    width: ~"calc(100% + 5px)";

                    color: #FFF;
                    background: @colorCorporativo;

                    span{
                        border-right: 1px solid rgba(255, 255, 255, 0.3);
                    }
                }

                .src-users-list-row{

                    .clearfix();

                    span{
                        display: block;
                        float: left;

                        padding: 15px;
                        box-sizing: border-box;

                        width: 33.33%;

                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 1px;

                        border-right: 1px solid rgba(0, 0, 0, 0.3);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    }
                }

                #src-table-content{
                    padding-right: 20px;

                    width: ~"calc(100% + 20px)";
                    height: ~"calc(100% - 50px)";

                    overflow-y: auto;

                    .src-users-list-row{
                        transition: all .3s ease;

                        cursor: pointer;

                        &:hover, &:focus{
                            background: lighten(@colorCorporativo, 70%);
                        }
                    }
                }
            }
        }
    }
}
