html,
body {
  margin: 0;
  height: 100%;
}
#sr-dashboard {
  height: 100%;
  overflow: hidden;
}
#sr-dashboard #sr-menu {
  float: left;
  width: 300px;
  height: 100%;
  color: #FFF;
  background: #2c3e50;
}
#sr-dashboard #sr-menu #srm-logo-wrapper {
  padding: 10px 30px 40px;
  box-sizing: border-box;
}
#sr-dashboard #sr-menu #srm-logo-wrapper #srm-logo {
  /* Temporal */

  width: 100%;
  height: 45px;
  background: #3e5771;
}
#sr-dashboard #sr-menu #srm-projects-list {
  height: calc(100% - 95px);
}
#sr-dashboard #sr-menu #srm-projects-list #srm-title {
  display: block;
  padding: 0 30px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #507192;
}
#sr-dashboard #sr-menu #srm-projects-list #srm-projects {
  margin: 0;
  padding: 0;
  height: calc(100% - 40px);
  overflow-y: auto;
  list-style-type: none;
}
#sr-dashboard #sr-menu #srm-projects-list #srm-projects li {
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: #8aa4be;
  cursor: pointer;
}
#sr-dashboard #sr-menu #srm-projects-list #srm-projects li:hover,
#sr-dashboard #sr-menu #srm-projects-list #srm-projects li:focus {
  padding-left: 27px;
  background: #3e5771;
  border-left: 3px solid #080b0e;
}
#sr-dashboard #sr-content {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
}
#sr-dashboard #sr-content #src-header {
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#sr-dashboard #sr-content #src-content {
  padding: 25px;
  box-sizing: border-box;
  height: calc(100% - 65px);
  background: #EEE;
}
#sr-dashboard #sr-content #src-content #src-users-list {
  width: 100%;
  height: 100%;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
#sr-dashboard #sr-content #src-content #src-users-list #src-table-header {
  padding-right: 20px;
  width: calc(100% + 5px);
  color: #FFF;
  background: #2c3e50;
}
#sr-dashboard #sr-content #src-content #src-users-list #src-table-header span {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
#sr-dashboard #sr-content #src-content #src-users-list .src-users-list-row {
  *zoom: 1;
}
#sr-dashboard #sr-content #src-content #src-users-list .src-users-list-row:before,
#sr-dashboard #sr-content #src-content #src-users-list .src-users-list-row:after {
  display: table;
  content: "";
}
#sr-dashboard #sr-content #src-content #src-users-list .src-users-list-row:after {
  clear: both;
}
#sr-dashboard #sr-content #src-content #src-users-list .src-users-list-row span {
  display: block;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  width: 33.33%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#sr-dashboard #sr-content #src-content #src-users-list #src-table-content {
  padding-right: 20px;
  width: calc(100% + 20px);
  height: calc(100% - 50px);
  overflow-y: auto;
}
#sr-dashboard #sr-content #src-content #src-users-list #src-table-content .src-users-list-row {
  transition: all .3s ease;
  cursor: pointer;
}
#sr-dashboard #sr-content #src-content #src-users-list #src-table-content .src-users-list-row:hover,
#sr-dashboard #sr-content #src-content #src-users-list #src-table-content .src-users-list-row:focus {
  background: #ecf1f5;
}
